/* Icon 1 */

#nav-icon3 {
  width: 26px;
  height: 26px;
  position: relative;
  padding: 15px;
  margin: 30px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 6px;
  left: 6px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 14px;
  left: 6px;
}

#nav-icon3 span:nth-child(4) {
  top: 22px;
  left: 6px;
}
#nav-icon3.open{
	border: 1px solid #fff;
	border-radius: 50%;
}
#nav-icon3.open span:nth-child(1) {
   	top: 18px;
   	width: 0%;
   	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
   	-webkit-transform: rotate(45deg);
   	-moz-transform: rotate(45deg);
   	-o-transform: rotate(45deg);
   	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
   	-webkit-transform: rotate(-45deg);
   	-moz-transform: rotate(-45deg);
   	-o-transform: rotate(-45deg);
   	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
   	top: 18px;
   	width: 0%;
   	left: 50%;
}
.button_menu_mobile {
    position: fixed;
    top: -25px;
    right: 10px;
    z-index: 999999;
    display: none;
}

@media (min-width: 1440px){
	.wrap_page_2 .title_page {
	    margin-top: 20%;
	}
	.wrap_page_3 .title_page {
		margin-top: 10%;
	}
	.wrap_page_4 .title_page {
		margin-top: 12%;
	}
	.wrap_page_5 .title_page {
	    margin-top: 10%;
	}
	.wrap_page_6 {
	    padding: 12% 14%;
	}
	.wrap_page_7 {
	    padding: 18% 14%;
	}
	.wrap_page_8 {
	    padding-top: 25%;
	}
}
@media (min-width: 995px) and (max-width: 1280px){
	.item_page_8 .time {
		font-size: 50px;
	}
	.content_home {
	    padding: 0px 200px;
	}
	@media screen and (orientation:portrait) {
		.wrap_page_4 .list_teacher .item_teacher {
		    margin-top: 5%;
		}
		.content_home {
		    padding: 0px 90px;
		    margin-top: 150px;
		}
		.footer_home {
			grid-template-columns: 50% 50%;
			padding: 40px 90px;
		}
		.footer_home .item_ft_home p {
		    width: 300px;
		}
		.item_ft_home{
			margin-bottom: 70px;
		}
		.wrap_page_7 {
			grid-template-columns: 100%;
			padding: 0 14%;
			
		}
		.item_page_7 {
			display: flex;
    		align-items: flex-end;
    		margin-top: 10px;
		}
		.content_item {
			margin: 0 auto;
		}
		.content_item .image {
		    max-width: 90%;
		    margin: 0 auto;
		}
		.wrap_page_3 .list_icon {
    		padding: 0 10%;
    	}
    	.wrap_page_3 .step {
		    padding: 0 5%;
		}
		.wrap_page_3 .title_page {
			margin-top: 20%;
			margin-bottom: 50px;
		}
		.wrap_page_4 .list_teacher {
		    padding: 0 70px;
		    grid-template-columns: 100%;
		}
		.wrap_page_2 {
			padding: 0 170px;
		}
		.wrap_page_2 .title_page {
			margin-top: 35%;
		}
		.mentor {
			grid-template-columns: 100%;
		}
		.wrap_page_6 {
			grid-template-columns: 100%;
		}
		.wrap_page_6 .wrap_page_6_left .title_page {
			padding-top: 0;
			width: 100%;
			text-align: center;
		}
		.wrap_page_8 {
			padding: 40% 200px;
		}
		.item_page_8 .time {
			text-align: center;
			margin-top: 20%;
			font-size: 40px;
		}
	}
	
}
@media (min-width: 721px) and (max-width: 994px){
	.content_home {
	    padding: 30px 50px;
	}
	.title_page {
		margin-left: 10%;
	}
	.footer_home {
		padding: 0px 50px;
		grid-template-columns: 50% 50%;
	}
	.item_ft_home{
		margin-bottom: 50px;
	}
	.wrap_page_2 {
		padding: 10% 20%;
	}
	.wrap_page_3 .list_icon {
	    padding: 0;
	    grid-template-columns: 20% 20% 20% 20% 20%;
	    width: 100%;
	}
	.wrap_page_3 .step {
	     padding: 0; 
	    display: grid;
	    grid-template-columns: 50% 50%;
	    justify-content: space-between;
	    margin-top: 20px;
	}
	.wrap_page_3 .title_page {
		margin-top: 50px;
	}
	.wrap_page_3 .list_icon {
	    padding: 0;
	    grid-template-columns: 20% 20% 20% 20% 20%;
	    width: 100%;
	    margin-bottom: 40px;
	}
	.wrap_page_3 .step {
	     padding: 0; 
	    display: grid;
	    grid-template-columns: 50% 50%;
	    justify-content: space-between;
	    margin-top: 50px;
	    padding: 0 40px;
	}
	.title_page2 h1 {
	    font-size: 26px;
	    margin-top: 0px;
	}
	.wrap_page_3 .list_icon .item_icon {
	    margin-top: 40px;
	    height: 140px;
	}
	.item_icon.icon_book, .item_icon.icon_internet, .item_icon.icon_smile, .item_icon.icon_conect, .item_icon.icon_like{
		background-size: 70%;
	}
	.wrap_page_3 .step .step_item .bg_number {
	    font-size: 60px;
	}
	.wrap_page_3 .step .step_item .text {
	    width: 85%;
	    margin: 5px 0 0 15px;
	    position: relative;
	}
	.wrap_page_3 .step .step_item {
	    height: 145px;
	}
	.wrap_page_4 .title_page {
		margin-top: 50px;
	}
	.wrap_page_4 .list_teacher {
	    padding: 0;
	    display: grid;
	    grid-template-columns: 100%;
	    justify-content: space-between;
	    width: 100%;
	}
	.wrap_page_4 .list_teacher .item_teacher .image {
		height: 140px;
	    width: 140px;
	    margin: 0 auto;
	}
	.wrap_page_4 .list_teacher .item_teacher {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.wrap_page_4 .list_teacher .item_teacher .info {
	    margin-top: 10px;
	}
	.wrap_page_5 .title_page {
		margin-top: 50px;
	}
	.mentor {
	    grid-template-columns: 100%;
	    padding: 15px 160px;
	}
	.mentor .item_mentor {
	    margin-top: 20px;
	    padding-bottom: 30px;
	}
	.mentor .item_mentor .wrap_item {
	    width: 100%;
	}
	.item_mentor .bg_mentor {
	    width: 200px;
    	height: 200px;
	    margin: 0 auto;
	}
	.item_mentor .image {
	    position: absolute;
	    top: 15px;
	    left: 80px;
	    width: 200px;
    	height: 200px;
	}
	.item_mentor .text_info .title {
		font-size: 14px;
	}
	.item_mentor .text_info p {
		font-size: 12px;
	}
	.item_mentor .text_info {
		left: 15px;
	}
	.wrap_page_6{
		padding: 0;
		grid-template-columns: 100%;
	}
	
	.wrap_page_6 .wrap_page_6_left .title_page {
		padding-top: 80px;
		width: 100%;
		text-align: center;
	}
	.wrap_page_6_right .box {
	    width: 100%;
	    height: auto;
	    margin-top: 0;
	}
	.wrap_page_6_right .box .bg {
		display: none;
	}
	.wrap_page_6_right .box .image {
	    width: 100%;
	    height: auto;
	    padding: 0 100px;
	    background: #b78543;
	    position: static;
	}
	.wrap_page_7 {
		grid-template-columns: 100%;
		padding: 70px 25%;
	}
	.content_item {
		background: none;
		box-shadow: none;
		height: auto;
	}
	.item_page_7 {
		margin-top: 0;
	}
	.wrap_page_8 {
		padding: 0;
		grid-template-columns: 100%;
		padding: 15% 0;
	}
	.item_page_8 .form_res {
	    margin: 0 auto;
	}
	.item_page_8 .time {
		margin-top: 100px;
		text-align: center;
	}
	.wrap_page_3 {
		padding: 0 10%;
	}
	#moveUp {
	    left: -40px;
	}
	#moveDown {
	    right: -40px;
	}
}
@media (max-width: 720px){
	body{
		font-size: 13px;
	}
	.button_menu_mobile{
		display: block;
	}
	.header {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    z-index: 999;
	    padding-bottom: 5px;
	    margin-bottom: -5px;
	    overflow-y: auto;
	    overflow-x: hidden;
	    transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	    -webkit-transform: translateX(-100%);
	    -moz-transform: translateX(-100%);
	    width: 75%;
	    left: 0;
	    background: rgba(0,0,0,0.9);
	    transition: transform 0.5s;
	    text-align: left;
	    height: 100%;
	    margin-left: 0;
	    animation: none;
	    -webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
	}
	.header.active {
	    transform: translateX(0);
	    -ms-transform: translateX(0);
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	}
	ul.menu li{
		width: 100%;
	}
	ul.menu li a{
		width: 100%;
		padding: 5px 0;
		display: block;
	}
	.owl-nav {
		top: 90%;
	}
	.wrap_page_4 .list_teacher .item_teacher .info .name {
	    font-size: 14px;
	}
	.wrap_page_4 .list_teacher .item_teacher .info p {
	    font-size: 12px;
	}
	.header{
		padding: 10% 5% 0% 5%;
	}
	.header .logo {
	    float: none; 
	    width: 100%;
	    text-align: center;
	}
	.header ul.menu {
	    float: none;
	    font-family: 'HelveticaNeue-Light';
	    text-align: center;
	    margin-top: 30px;
	}
	.header ul.menu li {
		padding: 0;
	    padding-left: 10px;
	}
	.content_home {
	    padding: 0 10px;
	    width: 100%;
	    margin-top: 0px;
	}
	.content_home .form_res {
	    width: 210px;
	    height: 150px;
	    float: none;
	    font-family: 'HelveticaNeue-Light';
	    margin: 0 auto;
	    display: none;
	}
	
	.title_page {
	    float: left;
	    margin-left: 0px;
	    padding-top: 40px;
	    text-align: center;
	    width: 100%; 
	}
	.number_page{
		display: none;
	}
	.footer_home{
		padding: 0 15px;
		grid-template-columns: 50% 50%;
		margin-top: 50px;
	}
	.footer_home .item_ft_home{
		padding-right: 10px;
		padding-bottom:20px;
	}
	.footer_home .item_ft_home .title {
		font-size: 12px;
		line-height: 17px;
		padding-bottom: 10px;
	}
	.footer_home .item_ft_home p {
	    width: 100%;
	    letter-spacing: 0;
	    line-height: 13px;
	}
	.wrap_page_2 {
		padding: 0 10px;
	}
	.wrap_page_2 .title_page {
		margin-top: 20px;
	}
	.wrap_page_2 .title_page p{
		letter-spacing: 0px;
    	line-height: 18px;
	}
	.title_page h1 {
	    font-size: 20px;
	}
	.index_school .index_item {
		font-size: 13px;
	}

	.wrap_page_3 .title_page {
		margin-top: 0px;
	}
	.wrap_page_3 .list_icon {
	    padding: 0;
	    grid-template-columns: 20% 20% 20% 20% 20%;
	    width: 100%;
	}
	.wrap_page_3 .step {
	     padding: 0; 
	    display: grid;
	    grid-template-columns: 50% 50%;
	    justify-content: space-between;
	    margin-top: 20px;
	}
	.title_page2 h1 {
	    font-size: 20px;
	    margin-top: 0px;
	}
	.logo_mobile{
		display: block;
	}
	.logo_mobile a img{
		width: 50% !important;
		margin:  0 auto;
		padding-top: 30px;
	}
	.wrap_page_3 {
		padding: 0 10px;
	}
	.wrap_page_3 .list_icon .item_icon {
	    margin-top: 25px;
	    height: 60px;
	}
	.wrap_page_3 .step .step_item .text .title {
	    font-size: 14px;
	    padding-bottom: 10px;
	}
	.wrap_page_3 .step .step_item .text p {
		font-size: 12px;
		line-height: 14px;
	}
	.item_icon.icon_book, .item_icon.icon_internet, .item_icon.icon_smile, .item_icon.icon_conect, .item_icon.icon_like{
		background-size: 50%;
	}
	.wrap_page_3 .step .step_item .bg_number {
	    font-size: 60px;
	}
	.wrap_page_3 .step .step_item .text {
	    width: 85%;
	    margin: 5px 0 0 15px;
	    position: relative;
	}
	.wrap_page_3 .step .step_item {
	    height: 145px;
	}
	.wrap_page_4 .title_page {
		margin-top: 20px;
	}
	.wrap_page_4 .list_teacher {
	    padding: 0;
	    display: grid;
	    grid-template-columns: 100%;
	    justify-content: space-between;
	    width: 100%;
	}
	.wrap_page_4 .list_teacher .item_teacher .image {
		height: 90px;
    	width: 90px;
    	margin: 0 auto;
	}
	.wrap_page_4 .list_teacher .item_teacher {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.wrap_page_4 .list_teacher .item_teacher .info {
	    margin-top: 10px;
	}
	.wrap_page_5 .title_page {
		margin-top: 20px;
	}
	.mentor {
	    grid-template-columns: 100%;
	    padding: 0;
	}
	.mentor .item_mentor {
	    margin-top: 20px;
	    padding-bottom: 30px;
	}
	.mentor .item_mentor .wrap_item {
	    width: 100%;
	}
	.item_mentor .bg_mentor {
	    width: 200px;
	    height: 200px;
	    margin: 0 auto;
	}
	.item_mentor .image {
	    position: absolute;
	    top: 10px;
	    left: 80px;
	    width: 200px;
	    height: 200px;
	}
	.item_mentor .text_info {
		left: 35px;
	}
	.wrap_page_6{
		padding: 0;
		grid-template-columns: 100%;
		padding-bottom: 45px;
	}
	.wrap_page_6 .wrap_page_6_left .title_page {
		padding-top: 80px;
		width: 100%;
		text-align: center;
	}
	.wrap_page_6_right .box {
	    width: 100%;
	    height: auto;
	}
	.wrap_page_6_right .box .bg {
		display: none;
	}
	.wrap_page_6_right .box .image {
	    width: 100%;
	    height: auto;
	    padding: 0 10px;
	    background: #b78543;
	    position: static;
	}
	.wrap_page_7 {
		grid-template-columns: 100%;
		padding:10% 0;

	}
	.content_item {
		background: none;
		box-shadow: none;
		height: auto;
	}
	.item_page_7 {
		margin-top: 0;
		padding: 0px 20%;
	}
	.wrap_page_8 {
		padding: 0;
		grid-template-columns: 100%;
		padding-bottom: 30%;
	}
	.item_page_8 .form_res {
	    margin: 0 auto;
	}
	.item_page_8 .time {
		margin-top: 100px;
		text-align: center;
    	font-size: 38px;
	}

}